<!DOCTYPE html>
<html lang="en"> <!-- TODO: language support? -->
  <head>
    <meta charset="utf-8">
    <title>{{docOptions.title}}</title>
    <link href="{{style}}" rel="stylesheet"/>
    <!-- TODO: allow a favicon or use a logo?
    <link href="" rel="shortcut icon" type="image/png" />
    -->
  </head>
  <body>
    
    <!-- Poster title, author list, affiliations, and logos. -->
    <header>
	    <h1>{{docOptions.title}}</h1>
	    <p class="authors">{{#authorList}}{{/authorList}}</p>
	    <p class="affiliations">{{#affiliationList}}{{/affiliationList}}</p>
    </header>
    
		<article>
		
    <!-- Create a three column layout -->
    
		<div id="left">
			
			<section>
	    {{section[0].html}}
			</section>
		
			<section>
	    {{section[1].html}}
			</section>
    
		</div>
		
		<div id="middle">
			
			<section>
	    {{section[2].html}}
			</section>
		
		</div>
		
		<div id="right">
			
			<section>
	    {{section[3].html}}
			</section>
		
			<section>
	    {{section[4].html}}
			</section>
			
		</div>
		
	  </article>
		
    <!-- Here we put copyright, created date, etc. -->
    <footer>
      <time datetime="" pubdate></time>
    </footer>
    
  </body>
</html>